@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(30, 187, 226));
    padding: 1rem;
    text-align: center;
    color: rgb(28, 55, 66);
}

h2{
    font-size: large;
    padding: 1rem;
    text-align: center;
}

h3, h4, p{
    font-size: small;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main_card{
    padding: 1rem;
    text-align: center;
    margin: 1rem 1rem;
    background-color: rgb(206, 223, 223);
    border: 1px solid rgb(206, 223, 223);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

img {
    padding: .4rem;
    width: 180px;
}

.funcion{
    text-align: center;
    padding: 1.5rem;
    background-color: rgb(206, 223, 223);
    margin: 1rem 20%;
    font-size: 1rem;
}